
/*variables*/
:root{
    --borde-rojo: #fb0a15;
    --fondo: #d17df9;
}

/*Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5DC ;
}

/* Contenedor principal */
.contenedor {
    width: 980px;
    margin: 0 auto;
}

/* Header */
.header {
    background-color: #4baf73;
    color: white;
    padding: 2vh;
    text-align: center;
    font-size: 1.2em;
}

/* Contenedor de contenido */
.contenido {
    overflow: hidden;
}

/* Aside lateral */
.aside {
    float: left;
    width: 25%;
    background-color: #5aa6c0;
    height: 70vh;
    padding: 30vh 2%;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

/* Main */
.main {
    float: left;
    width: 75%;
    background-color: var(--fondo);
    height: 70vh;
    padding: 3%;
    text-align: center;
}

/* Título main */
.main-titulo {
    color: white;
    font-size: 1.2em;
    margin-bottom: 2%;
}

/* Sección superior */
.seccion-superior {
    overflow: hidden;
    margin-bottom: 3%;
    height: 43%;
    border: 4px solid var(--borde-rojo);
    padding: 2%;
}

/* Sección inferior */
.seccion-inferior {
    overflow: hidden;
    height: 43%;
    border: 4px solid var(--borde-rojo);
    padding: 2%;
}

/* Artículos */
.articulo {
    float: left;
    background-color: var(--fondo);
    border: 4px solid #0402ff;
    height: 100%;
}

/* Artículos de la sección superior*/
.seccion-superior .articulo {
    width: 48%;
    margin-right: 4%;
}

.seccion-superior .articulo:last-child {
    margin-right: 0;
}

/* Artículos de la sección inferior*/
.seccion-inferior .articulo {
    width: 30.66%;
    margin-right: 4%;
}

.seccion-inferior .articulo:last-child {
    margin-right: 0;
}

/* Footer */
.footer {
    clear: both;
    background-color: #ffae6b;
    color: white;
    padding: 2vh;
    text-align: center;
    font-size: 1.2em;
}
