/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}

h1 {
    color: #000000;
    margin-bottom: 30px;
    font-size: 24px;
}

h2 {
    color: #86417b;
    margin-bottom: 15px;
    font-size: 18px;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

li {
    margin-bottom: 8px;
    line-height: 1.6;
}

/* Contenedor general*/
.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

/*Secciones dentro del contenedor*/
.seccion {
    background-color: white;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
}

/* Tablet*/
@media (min-width: 600px) and (max-width: 1199px) {
    .seccion {
        width: 45%;
    }

    .seccion:last-child {
        margin-left: auto;
    }
}

/* Escritorio*/
@media (min-width: 1200px) {
    .seccion {
        width: 30%;
    }
}