/* Selector*/
* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: white;

}

/* Elemento body */
body {
    padding-top: 50px;
    text-align: center;
    overflow: auto;

}

/* Elemento page */
#page {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

header {
    outline: solid 2px black;
    height: 60px;
    padding: 10px;
    overflow: auto;
}

#logo {
    outline: solid 2px black;
    text-align: center;
    width: 120px;
    height: 40px;
    float: left;
    line-height: 40px;
}



#derecha {
    outline: solid 2px black;
    float: right;
    height: 40px;
    overflow: auto;
}

nav {
    outline: solid 2px black;
    float: left;
    height: 100%;
    width: 350px;
   
}

.opcion {
    outline: solid 2px black;
    padding: 5px 12px;
    text-align: center;
    font-size: 14px;
    margin: 10px;
    margin-top: 5px;
    float: left;
    line-height: 20px;
}

#botones {
    outline: solid 2px black;
    float: left;
    height: 100%;
    margin-left: 1px;
    width: 250px;
 
}

.boton {
    outline: solid 2px black;
    padding: 5px 12px;
    text-align: center;
    font-size: 14px;
    background-color: #e0e0e0;
    margin: 5px;
    margin-left: 15px;
    margin-top: 7px;
    float: left;
    line-height: 20px;
}



#uno,
#dos {
    outline: solid 2px black;
    width: 50%;
    height: 500px;
    float: left;


}

#div_uno {
    outline: solid 2px black;
    margin-top: 5px;
    margin-left: 5px;
    width: 40%;
    height: 15px;

}

#div_dos,
#div_tres {
    outline: solid 2px black;
    margin-top: 5px;
    margin-left: 5px;
    width: 80%;
    height: 25px;

}

#div_cuatro {
    outline: solid 2px black;
    margin-top: 5px;
    margin-left: 5px;
    width: 30%;
    height: 25px;
}

#div_cinco {
    outline: solid 2px black;
    margin-top: 5px;
    margin-left: 5px;
    width: 27%;
    height: 25px;
    float: left;
}

#div_seis {
    outline: solid 2px black;
    margin-top: 5px;
    width: 27%;
    height: 25px;
    float: left;
}


#tres {
    outline: solid 2px black;
    width: 40%;
    height: 500px;
    float: left;
}

#cuatro {
    outline: solid 2px black;
    width: 60%;
    height: 500px;
    float: left;
}

#div_uno_c {
    outline: solid 2px black;
    margin-top: 120px;
    margin-left: 120px;
    width: 35%;
    height: 100px;
}

#div_dos_c,
#div_tres_c,
#div_cuatro_c {
    outline: solid 2px black;
    margin-top: 30px;
    margin-left: 120px;
    width: 70%;
    height: 35px;
}

#cinco {
    outline: solid 2px black;
    width: 60%;
    height: 350px;
    float: left;
}


#div_uno_cin {
    outline: solid 2px black;
    margin-top: 120px;
    margin-left: 120px;
    width: 65%;
    height: 75px;
}

#div_dos_cin {
    outline: solid 2px black;
    margin-top: 30px;
    margin-left: 120px;
    width: 65%;
    height: 35px;
}

#div_tres_cin {
    outline: solid 2px black;
    margin-top: 30px;
    margin-left: 120px;
    width: 20%;
    height: 30px;
}

#seis {
    outline: solid 2px black;
    width: 40%;
    height: 350px;
    float: left;
}

#siete {
    outline: solid 2px black;
    width: 100%;
    height: 600px;
    float: left;
    margin-top: 5px;
}

#sec_uno {
    margin-left: 10px;
    outline: solid 2px black;
    width: 40%;
    height: 50px;
}

#sec_dos {
    margin-left: 10px;
    margin-top: 7px;
    outline: solid 2px black;
    width: 25%;
    height: 20px;
}

.columna {
    float: left;
    width: 31%;
    margin-left: 20px;
    margin-top: 7px;
}

.contenidos {
    outline: solid 2px black;
    width: 100%;
    height: 400px;
}

.info {
    margin-top: 7px;
    outline: solid 2px black;
    width: 100%;
    height: auto;
}

.info1 {
    margin-left: 10px;
    margin-top: 10px;
    outline: solid 2px black;
    width: 90%;
    height: 20px;
}

.info2 {
    margin-left: 10px;
    margin-top: 10px;
    outline: solid 2px black;
    width: 90%;
    height: 30px;
}

.info3 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: solid 2px black;
    width: 20%;
    height: 20px;
}

#ocho {
    outline: solid 2px black;
    width: 100%;
    height: 200px;
    float: left;
    margin-top: 5px;
    text-align: center;
    padding-top: 20px;
}

#caja_principal{
    outline: solid 2px black;
    width: 65%;
    height: 160px;
    margin: 0 auto;
    text-align: center;
}

#caja {
    outline: solid 2px black;
    width: 50%;
    height: 115px;
    padding-top: 10px;
    margin: 0 auto;
}

#caja_der_uno,
#caja_der_tres {
    outline: solid 2px black;
    width: 90%;
    height: 30px;
    margin: 8px auto;
}
#caja_der_dos {
    outline: solid 2px black;
    width: 90%;
    height: 15px;
    margin: 8px auto;
}


#nueve {
    outline: solid 2px black;
    width: 100%;
    height: 200px;
    float: left;
    margin-top: 5px;
}

.col_nueve_uno{
       outline: solid 2px black;
    float: left;
    width: 17%;
    height: 180px;
    margin-left: 40px;
    margin-top: 10px;
}

.col_nueve {
    outline: solid 2px black;
    float: left;
    width: 17%;
    height: 180px;
    margin-left: 1px;
    margin-top: 10px;
}

.caja_col {
    outline: solid 2px black;
    width: 95%;
    height: 35px;
    margin-top: 8px;
    margin-left: 5px;
}

.col_nueve_ultima {
    outline: solid 2px black;
    float: left;
    width: 40%;
    height: 180px;
    margin-left: 10px;
    margin-top: 10px;
}

.caja_col_ultima {
    outline: solid 2px black;
    width: 95%;
    height: 30px;
    margin-top: 8px;
    margin-left: 5px;
}

#diez {
    outline: solid 2px black;
    width: 100%;
    height: 80px;
    float: left;

}
#diez_div{
       outline: solid 2px black;
    width: 99%;
    margin-top: 5px;
    margin-left: 5px;
    height: 10px;
   
}
#caja_final_izq {
    outline: solid 2px black;
    width: 25%;
    height: 50px;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
}

#caja_final_der {
    outline: solid 2px black;
    width: 25%;
    height: 50px;
    margin-top: 15px;
    float: right;
    margin-right: 10px;
}