/* Selector universal*/
* {
    margin: 0px;
    padding: 0px;
}

/* Elemento body */
body {
    padding-top: 20px;
    text-align: center;
    background-image: url("../imgs/old_map.png");
}

/* Elemento page */
#page {
    width: 960px;
    margin: 0px auto;
    text-align: left;
}

/* Elemento header */
#page > header {
    font-family: Courier;
    color: white;
    font-size: 1.1em;
    border-bottom: 6px solid black;
    background-color: #313B44;
}

/* Elemento h1 */
#page > header h1 {
    background-image: url("../imgs/logo.png");
    background-repeat: no-repeat;
    background-position: 25px center;
    padding: 20px 100px;
}

/* Elemento nav */
nav {
    font-family: courier;
    font-size: 1.4em;
    color: silver;
    text-align: center;
    background-image: url("../imgs/red015.jpg");
}

/* Lista de navegación */
nav li {
    padding-top: 80px;
    margin: 0px 100px 20px 100px;
    list-style: none;
    display: inline-block;
    text-align: center;
    cursor: default;
}

/* Primer elemento de navegación (contenidos)*/
nav li:nth-child(1) {
    background-image: url("../imgs/book.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

/* Segundo elemento de navegación (videos) */
nav li:nth-child(2) {
    background-image: url("../imgs/film.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

/* Tercer elemento de navegación (contacto)*/
nav li:nth-child(3) {
    background-image: url("../imgs/mail.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

/* Enlaces del menú*/
nav a {
    text-decoration: none;
    color: orange;
}

nav a:hover {
    color: white;
}

/* Elemento main (contenido principal)*/
main {
    font-family: verdana;
    font-size: 0.8em;
    background-image: url("../imgs/lgrey008.jpg");
    height: 502px;
}

/*Elementos article */
article {
    width: 240px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    line-height: 1.8em;
    padding: 5px 5px 22px 5px;
    margin: 30px;
    float: left;
}

/*Header dentro de los articles */
article > header {
    border-bottom: 1px solid #999999;
}

/*elementos h2 */
h2 {
    padding: 10px;
    font-size: 1.2em;
}

/*Elemento footer */
footer {
    clear: both;
    color: white;
    font-size: 0.7em;
    text-align: center;
    background-color: #313B44;
    border-top: 6px solid black;
    padding: 15px 0px;
}

/*Enlaces dentro de footer */
footer a {
    color: white;
}
