/* FLOAT */

/* Variables*/
:root {
    --color-cabecera: #d4a4a4;
    --color-navegacion: #eeefa6;
    --color-principal: #97daf3;
    --color-lateral: #c5b3d5;
    --color-footer: #d4a5a5;
    --color-fondo: #f5f5dc;
    --ancho-contenedor: 980px;
    --ancho-principal: 730px;
    --ancho-lateral: 250px;
}

/* Resetear*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo);
    font-family: Georgia, serif;
}

/* Contenedor*/
.contenedor {
    width: var(--ancho-contenedor);
    margin: 0 auto;
   
}

/* Cabecera */
.cabecera {
    background-color: var(--color-cabecera);
    padding: 25px;
    text-align: center;
    font-size: 18px;
}

/* Barra de navegación */
.barra-navegacion {
    background-color: var(--color-navegacion);
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

/* Contenedor que abarca los elementos con float*/
.contenido {
    overflow: hidden;
}

/* Información principal*/
.informacion-principal {
    float: left;
    width: var(--ancho-principal);
    background-color: var(--color-principal);
    min-height: 450px;
    padding: 120px 20px 20px 20px;
    text-align: center;
    font-size: 16px;
        border-right: 5px solid #bff4a0
}

/* Barra lateral */
.barra-lateral {
    float: right;
    width: var(--ancho-lateral);
    background-color: var(--color-lateral);
    min-height: 450px;
    padding: 120px 20px 20px 20px;
    text-align: center;
    font-size: 16px;
}

/* Footer institucional */
.institucional {
    clear: both;
    background-color: var(--color-footer);
    padding: 15px;
    text-align: center;
    font-size: 16px;
}