
/*variables*/
:root{
    --borde-rojo: #fb0a15;
    --fondo: #d17df9;
}


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
.contenedor {
    width: 100%;
}

/* Menú superior */
.menu-superior {
    background-color: #4baf73;
    padding: 2vh 2%;
    text-align: center;
}

.menu-superior ul {
    list-style: none;
}

.menu-superior li {
    display: inline;
    color: white;
    padding: 0 2%;
    font-size: 1.5em;
}

/* Contenedor de contenido */
.contenido {
    display: flex;
}

/* Menú lateral */
.menu-lateral {
    width: 15%;
    background-color: #5aa6c0;
    height: 70vh;
    padding: 5vh 2%;
}

.menu-lateral ul {
    list-style: none;
}

.menu-lateral li {
    color: white;
    padding: 3vh 0;
    text-align: center;
    font-size: 2em;
}


/* Main */
.main {
    width: 85%;
    background-color: var(--fondo);
    height: 70vh;
    padding: 3%;
}

/* Sección superior */
.seccion-superior {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    height: 50%;
    border: 4px solid var(--borde-rojo);
    padding: 2%;
}

/* Sección inferior */
.seccion-inferior {
    display: flex;
    justify-content: space-between;
    height: 50%;
    border: 4px solid  var(--borde-rojo);
    padding: 2%;
}

/* Artículos */
.articulo {
    background-color: var(--fondo);
    border: 3px solid #0402ff;
    height: 100%;
}

/* Artículos de la sección superior */
.seccion-superior .articulo {
    width: 48%;
}

/* Artículos de la sección inferior*/
.seccion-inferior .articulo {
    width: 30.66%;
}

/* Footer */
.footer {
    background-color: #ffae6b;
    color: white;
    padding: 2vh;
    text-align: center;
    font-size: 1.2em;
}
